{% load static %}

{% include 'partials/_head.html' %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'partials/_sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'partials/_topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Classificador de cargas industriais</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Bem-vindo!.
                                    </p>
                                    <p>
                                        Este sistema tem por objetivo mostrar
                                        o consumo energético atual de cada carga industrial conectada ao sistema, juntamnete
                                        com seu estado atual (ON/OFF).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xl-3 col-lg-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-4">
                                                Consumo (Mês)</div>
                                            {% for machine in machines %}
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                {{ machine.name }} </div>
                                            <div class="h5 mb-4 font-weight-bold text-gray-800">R${{ machine.consumption }}</div>
                                            {% endfor %}
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">R${{ consumptionTotal }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4">
                            <div class="card border-left-info shadow py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-4">
                                                Estado das máquinas</div>
                                            {% for machine in machines %}
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                {{ machine.name }} </div>
                                            {%if machine.state %}
                                                <div class="h5 mb-4 font-weight-bold text-gray-800">ON</div>
                                            {% else %}
                                                <div class="h5 mb-4 font-weight-bold text-gray-800">OFF</div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-charging-station fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'partials/_footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include 'partials/_logout.html' %}
    {% include 'partials/_bootstrapCore.html' %}

</body>

</html>